@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Gowun Dodum', sans-serif;
	font-size: 18px;
    line-height: 20px;
    color: #333;
}

ul, ol{
    list-style: none;
}

a{
	color : black;
    text-decoration: none;
}

img{
    vertical-align: top;
    border: 0;
}

.wrap{
    min-width: 1240px;
}

.bc_header{
    width: 100%;
    padding: 5px 0;
    margin-bottom: 50px;
    background-color: rgb(255, 252, 240);
}

.bc_header h1{
    margin: 50px 0;
    text-align: center;
}

.bc_header ul{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.bc_header li{
    padding: 0 50px;
}

.bc_header li a{
    display: inline-block;
    font-size: 20px;
    color: #333;
}

.bc_header a:hover{
    color: rgb(112, 129, 116);
}

.line a::after{
    content: '';
    display: block;
    border-bottom:  4px solid rgb(112, 129, 116);
}

.board_container{
    width: 1200px;
    margin: 0 auto;
}

.bcc_header{
	display:flex;
	justify-content : space-between;
	
	width: 100%;
	height : 80px;
    padding: 5px 0;
    
    background-color: rgb(252, 244, 235);	
}


.bcc_header1{
    display: flex;
    justify-content: space-between;
    margin: 10px 40px;
    
    text-align : center;
    
}

.bcc_header1 h2{
	font-size : 30px;
	line-height: 60px;
}


.bcc_header2{
	width : 200px;
    margin: 10px 20px;
    text-align : right;    

}

#bcc_date{
	height : 50%;
}

#bcc_nameNwatch{
	display : flex;
	height : 50%;
	text-align : right;
	
}


.bcc_header2 .watch{
    width : 50%;

}

.bcc_header2 .nickname{

    width : 50%;

}

.bcc_header2 .nickname, .count{
    color: #333;
}

.bbc_container{
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
}

.bbc_container p{
    margin: 20px 16px;
}


#bno{
	visibility: hidden;
}



#uploadResult li img{
	margin-bottom: 10px;
	
}
 
.board_btn{
    position: relative;
    margin-bottom: 20px;
}

.board_btn a{
	display : inline-block;
	width: 80px;
    height: 35px;
    
    text-align : center;
    line-height : 35px;

    background-color: rgb(232, 241, 237);
    color: #333;
    border-radius: 20px;
    border: 1px solid #9ac4a1;
		
	margin-top : 10px;
    cursor: pointer;
}

.board_btn b_btn{
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.write{
   display : inline-block;  
}

.board_btn .b_write{
    background-color: rgb(153, 177, 161);
}

.bc_footer{
    padding: 50px 0;
}

.bc_footer ul{
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
}

.bc_footer li{
	display : flex;
	justify-content: space-between;
	
    padding: 8px;
   
}

.bc_footer li:first-child{
    border-bottom: 1px solid #ddd;
}

.bc_footer li a{
    position: relative;
    color: #333;
    font-size: 20px;
    display: block;
}
.bc_footer a .footer_title1{
    position: absolute;
    top: 0;
    left: 0;
}

.bc_footer a .footer_title{
    margin-left: 80px;
}


.bc_footer a .footer_title2{
    position: absolute;
    top: 0;
    right: 0;
}