@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Gowun Dodum', sans-serif;
    font-size: 20px;
    line-height: 20px;
    color: #333;
}

ul, ol{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    vertical-align: top;
    border: 0;
}

.wrap{
    min-width: 1240px;
    background-color: #fff;
}

/* 본문 시작 */

#container{
    position: relative;
    width: 100%;
    margin-top: 30px;
}

/* 본문 1 */

.main1{
    position: relative;
    width: 1200px;
    height: 700px;
    margin: 0 auto 100px auto;
    overflow: hidden;
}

.msImg{
    position: absolute;
    left: 230px;
    bottom: 0;
    height: 700px;
}

.msImg img{
    height: 100%;
    object-fit: cover;
}

.msPager{
    position: absolute;
    top: 0;
    left: 0;
}

.msPager li{
    margin: 0  0 20px 0;
}

.msPager li a{
    display: block;
    width: 200px;
    height: 124px;
    background-color: #f4faf5;
    color: #222;
    padding-top: 28px;
    box-sizing: border-box;
    text-align: center;
    font-size: 26px;
    line-height: 30px;
}

.msPager .on a{
    background-color: #cbe0c2;
}

/* 본문 2 */

.main2{
    width: 1200px;
    margin: 0 auto 100px auto;
    background-attachment: fixed;
}

.main2 h2{
    padding-bottom: 30px;
    font-size: 30px;
    color: #555;
    text-align: center;
}

.main2 ul{
    display: flex;
    justify-content: space-between;
}
  
.main2 li{
    position: relative;
    width: 200px;
    padding-bottom: 10px;
    text-align: center;
}
  
.main2 li a{
    display: block;
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    transition: transform 1s;
}
  
.main2 li:hover a{
    transform: scale(1.2);
    transition: transform 2s;
}
  
.main2 .tea1 a{
    background-image: url(../img/명차1.png);
}
  
.main2 .tea2 a{
    background-image: url(../img/녹차.png);
}
  
.main2 .tea3 a{
    background-image: url(../img/건강차\ 동그라미.png);
}
  
.main2 .tea4 a{
    background-image: url(../img/꽃.과일차.png);
}
  
.main2 a .over{
    position: absolute;
    top: 10px;
    right: 0;
    background-color: rgba(203, 224, 194, 0.9);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: none;
}

.main2 a:hover .over{
    display: block;
}
  
.main2 .over span{
    display: block;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100%;
    color: #555;
    font-size: 22px;
    font-weight: bold;
    line-height: 20px;
}

.main3, .main4{
    width: 1200px;
    margin: 0 auto 100px auto;
}

.m3_title, .m4_title{
    margin-bottom: 30px;
    font-size: 30px;
}

.m3_title a, .m4_title a{
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
    color: #333;
}

.m4_title p{
	display: inline;
	font-size: 20px;
}

.taste{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.taste .t_kind, .taste .t_scent, .taste .t_product{
    width: 120px;
    height: 40px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #9ac4a1;
    background-color: rgba(255, 255, 255, 0.3);
    color: #111;
    font-size: 16px;
}

.checkbox{
    align-items: center;
    margin-left: 20px;
    
    display:none;
}

#proSubmit{
	
	width: 70px;
    height: 40px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    
    border: 1px solid #9ac4a1;
    background-color: rgba(163, 204, 145, 0.2);
	
}

.m3_item, .m4_item{
	width : 1200px;
	
	
}

.m3_item ul, .m4_item ul{
	width : 100%;
    display: flex;
    justify-content: space-between;
    
    position: relative;

}

.m3_item li, .m4_item li{
    width: 300px;
    height: auto;
    padding : 0 40px 10px 40px;
    box-sizing: border-box;
    text-align: center;
}

.m3_item li:hover, .m4_item li:hover{
    background-color: rgba(203, 224, 194, 0.2);
    border-radius: 10px;
}

.m3_item .m3_item_box, .m4_item .m4_item_box{

    border-radius: 5px;
    margin-bottom: 20px;
}

.m3_item_box .m3_ib_img a, .m4_item_box .m4_ib_img a{
	display: inline-block;
	width: 100%;
}

.m3_item_box .m3_ib_img a img, .m4_item_box .m4_ib_img a img{
	display: inline-block;
    width: 100%;
    height: 283px;
}

.m3_item_box .m3_ib_name, .m4_item_box .m4_ib_name{
    height: 50px;
}

.m3_item_box .m3_ib_name a, .m4_item_box .m4_ib_name a{
	display : inline-block;
    padding: 5px 0;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    color: #333;
    height: 50px;
}

.m3_item_box .m3_ib_prise, .m4_item_box .m4_ib_prise{
    height: 30px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
}

.num_cart form{
    display: flex;
    justify-content: center;
    color: #333;   
}

.num_cart select{
    width: 100px;
    height: 40px;
    padding: 0 15px;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid #9ac4a1;
}

.num_cart form input{
    width: 100px;
    height: 40px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #9ac4a1;
     background-color: rgba(163, 204, 145, 0.2);
    cursor: pointer;

    font-size: 16px;
    font-weight: bold;
}

.main3_a, .main4_a{
	display : flex;
	justify-content : space-between;
	
    width : 1180px;
    
    position: absolute;
    bottom: 230px;
    left: 10px;
}

.main3_l a, .main4_l a{
    display: block;
    width: 20px;
    height: 20px;
    border-left: 5px solid #888;
    border-bottom: 5px solid #888;
    text-indent: -9999999px;
    transform: rotate(45deg);
}

.main3_r a, .main4_r a{
    display: block;
    width: 20px;
    height: 20px;
    border-right: 5px solid #888;
    border-top: 5px solid #888;
    text-indent: -9999999px;
    transform: rotate(45deg);
}

.main4 .m4_ib_prise_d{
    height: 30px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
}

.m4_item_box .m4_ib_prise{
    margin-bottom: 10px;
    text-decoration: line-through;
    color: #888;
    font-weight: 500;
}