@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Gowun Dodum', sans-serif;
    font-size: 13px;
    line-height: 20px;
    color: #333;
}

ul, ol{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    vertical-align: top;
    border: 0;
}



.wrap{


}



.wrap h3{
	text-align : center;
	margin-bottom : 20px;
}




.uploadDiv{
	width:1200px;
	margin : 30px auto;

	
	/* background-color : yellow; */
	
}

#productForm{
	width : 600px;
	margin : 30px auto;
	
}

#table{
	width : 100%;
	min-height : 500px; 
	
	background-color: rgb(248, 248, 248);
    border: 1px solid #ccc;
    border-collapse : collapse;
    border: none;
    
    
}

/* #table tr{

	border-top : none;
	border-bottom : none;
    
    
} */

#table tr td:first-child{

	text-align : center;
    
    
}

#table td{

	min-width : 100px;
	
    
    
}

#table input, #table textarea{
	width : 500px;
	
	margin : 0 10px;
	padding : 5px;
	
	background-color: #fff;
	/* background-color: rgb(248, 248, 248); */
	
    border: 1px solid #ccc;
    border-collapse : collapse;
    
    
}

#table input{
	padding : 5px;
}

#table select{
	margin-left : 10px;
}


#table #uploadBtn{
	width : 100px;
	height : 30px;
	
	margin :20px auto;
}

#uploadBtn button{
	width : 100%;
	height : 100%;
	
    background-color: rgb(248, 248, 248);
    border: 1px solid #ccc;
}



.uploadResult{
	width:100%;

	
}

.uploadResult ul{
	display:flex;
	justify-content:center;
	
	
}

.uploadResult ul li{
	list-style:none;
	/* padding : 10px; */
}

.uploadResult ul li img{
	width: 100px;
	margin-bottom : 40px;
} 